header.main-header .main-menu .list>.list-item-has-children.mega-menu>.sub-menu>.list-item-has-children .list-item-has-children::before {
    content: '\F141';
    font: normal normal normal 20px "Material Design Icons";
    position: absolute;
    left: 5px;
    top: 9px;
}

header.main-header .main-menu .list>.list-item-has-children.mega-menu .list-item-has-children {
    position: relative;
}

header.main-header .main-menu .list .list-item.mega-menu>.sub-menu>.list-item-has-children>.sub-menu .list-item-has-children .sub-menu {
    visibility: hidden;
    border-radius: 5px;
    opacity: 0;
    position: absolute;
    width: 100%;
    box-shadow: none;
    background: #f7f7f7 !important;
}

header.main-header .main-menu .list>.list-item-has-children.mega-menu>.sub-menu>.list-item-has-children .list-item-has-children::hover .sub-menu {
    right: 100%;
    top: 0;
    z-index: 999999999;
    visibility: visible;
    opacity: 1;
    background: #f3fefb !important;
}

.icon-spin {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.swal2-popup {
    width: 320px;
    font-size: 14px;
}

.cart-product-image {
    width: 100px;
    margin-right: 46px;
}

.cart-title {
    white-space: initial;
}

.comment-replay-to {
    padding: 7px 9px;
    margin-bottom: 4px;
    background: #eaeaea;
    border-radius: 8px;
}

.comment-replay-to a {
    color: #fd3232;
    margin-right: 8px;
}

.checkout-div {
    background: white;
    padding: 10px 29px;
    border-radius: 32px;
}

.form-ui .form-group {
    margin-bottom: 0;
}

#map {
    width: 100%;
    height: 500px;
}

header.main-header .logo-area img {
    width: 100%;
}

.tiles__title {
    border-bottom: 1px solid #eee;
    text-align: center;
    line-height: 48px;
}

.tiles__content p {
    text-align: center;
}

.gm-style {
    font-family: iranyekan;
}

body {
    background-color: #e0e0e05c;
}

header.main-header .main-menu .list .list-item.mega-menu.mega-menu-col-4>.sub-menu {
    width: 100% !important;
    min-width: 1020px;
}

.price-index-h {
    height: 50px;
}

.discount span {
    background: #ff6a6a !important;
}

.product-price-del {
    text-align: center;
    width: 100%;
    display: block;
    color: #ff6a6a;
    font-weight: bold;
    height: 20px;
}

.product-card .product-price {
    text-align: center;
}

.logo-area-mini-header img {
    width: 100px;
}

.category-index {
    padding-top: 0!important;
    padding-bottom: 0;
    overflow: hidden;
}

.category-index .product-title {
    text-align: center;
    padding: 20px;
}

.category-index a.more-cat {
    background-color: #eee;
    width: 100%;
    display: block;
    text-align: center;
    padding: 9px;
    color: #2196F3;
    font-weight: 600;
    margin-top: 21px;
}

.footer-services {
    padding-bottom: 10px;
}

.footer-services .service-item {
    text-align: center;
    position: relative;
    font-size: 13px;
    font-size: .929rem;
    line-height: 1.692;
    color: #606060;
    letter-spacing: .2px;
    padding-bottom: 10px;
    margin: auto;
    padding-top: 10px;
}

.footer-services .service-item img {
    width: 58px;
    height: 58px;
    margin-bottom: 7px;
}

.bk-icons-footer {
    padding: 1rem 1.5rem 0;
    background-color: #fff;
    border-radius: 30px;
    -webkit-box-shadow: 0 2px 6px 0 rgba(51, 73, 94, 0.1);
    box-shadow: 0 2px 6px 0 rgba(51, 73, 94, 0.1);
    display: flow-root;
}

.product-warranty-span {
    padding-right: 10px !important;
}

.order-product-color {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    margin: 3px 0;
    border: 1px solid;
}

.h_iframe-aparat_embed_frame {
    position: relative;
}

.h_iframe-aparat_embed_frame .ratio {
    display: block;
    width: 100%;
    height: auto;
}

.h_iframe-aparat_embed_frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe {
    border: none;
}

.brand-slider .owl-stage {
    margin: auto;
}

.product-brand-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 6px;
}

.category-background {
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
}

.compare-modal .product-title {
    background: #efefef;
    height: 73px;
    padding: 7px;
    color: black;
    margin-top: 12px;
    text-align: center;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 0;
}

.compare-product {
    border: 1px dashed #b5b5b5;
    padding-top: 20px;
}


/* megamenu styles */

.f-menu {
    position: relative;
    padding: 1px !important;
    margin: 0;
    min-width: 175px !important;
    border-left: 1px solid;
    display: block;
    min-height: 300px;
}

.f-menu .master-menu {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: black !important;
    transition: none !important;
    -webkit-transition: none !important;
}

.f-menu .master-menu:hover,
.f-menu li.active .master-menu {
    background: #ececec;
    outline: 1px solid #cdcdcd;
}

.f-menu>li {
    margin-left: -4px;
    white-space: nowrap;
}

.f-menu>li>a {
    padding: 20px 18px;
    display: block;
}

.f-menu>li>a i {
    float: none !important;
    font-size: 15px !important;
}

.f-menu>li>.megadrop {
    display: none;
    position: absolute;
    list-style: none;
    top: 0px;
    right: 190px;
    width: 930px;
    min-height: 100%;
    padding: 9px 0px;
    z-index: 99;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    background-color: white;
    transition: all .5s ease-in-out;
    border: 1px solid #ececec;
}

.f-menu>li:hover .megadrop,
.list-item:hover .f-menu>li.active .megadrop {
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    max-height: 300px;
    flex-wrap: wrap;
    align-content: flex-start;
    -webkit-box-shadow: -10px 10px 30px 0 rgb(31 45 61 / 10%);
    box-shadow: -10px 10px 30px 0 rgb(31 45 61 / 10%);
}

.list-item .f-menu>li.active>a,
.list-item .f-menu>li:hover>a {
    color: red !important;
}

.f-menu ul li:hover:after {
    color: #227087;
}

.f-menu {
    float: right;
    color: white;
    border-left: 1px solid #cdcdcd;
}

.f-menu h3 {
    margin: 0 !important;
}

.f-menu ul {
    padding: 0;
    margin: 0;
}

.f-menu ul li {
    padding: 0;
    list-style: none;
    font-size: 11px;
}

.f-menu h3 .category-title-l2 {
    font-size: 16px !important;
    padding: 0px 15px !important;
    padding-top: 5px !important;
    font-weight: bold !important;
    color: #000000 !important;
    display: flex !important;
}

.f-menu h3 .category-title-l2::after {
    content: '\F141';
    position: relative;
    left: -3px;
    font-family: "Material Design Icons";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.f-menu ul li a {
    display: block;
    color: #5a5a5a !important;
    font-weight: 500 !important;
}

.f-menu ul li a:hover {
    color: #f7858d !important;
    padding-right: 17px !important;
}

.megadrop.row .h5 {
    font-size: 16px !important;
    padding: 0px 0px !important;
    padding-top: 5px !important;
    font-weight: bold !important;
    color: #000000 !important;
    display: flex !important;
    margin-bottom: .3rem !important;
}

.megadrop.row a {
    padding: 4px 12px !important;
}

.megadrop.row .h5::after {
    content: '\F141';
    position: relative;
    left: -3px;
    font-family: "Material Design Icons";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.megadrop.row .h6 {
    color: #5a5a5a !important;
    font-size: 12px !important;
    padding: 0px 0px !important;
    font-weight: 500 !important;
}

.megadrop.row .h6:hover {
    color: #f7858d !important;
    position: relative;
    right: 2px;
}

header.main-header .main-menu .list .list-item-has-children:hover>.sub-menu {
    border-bottom-right-radius: 5px;
}

.trasparent-background {
    transition: all .5s;
    opacity: 0;
    position: absolute;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.158);
    z-index: 5;
    right: 0;
    left: 0;
    bottom: 0px;
    top: -24px;
    width: 100%;
}


/* end megamenu styles */
