/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.breadcrumb .breadcrumb-item+.breadcrumb-item:before {
    content: '\e849' !important;
}

@font-face {
    font-family: iransansdn;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/iransansdn.eot');
    src: url('../fonts/iransansdn.eot?#iefix') format('embedded-opentype'), url('../fonts/iransansdn.woff2') format('woff2'), url('../fonts/iransansdn.woff') format('woff'), url('../fonts/iransansdn.ttf') format('truetype')
}

@font-face {
    font-family: Vazir;
    src: url('../../app-assets/fonts/vazir/Vazir-Light-FD.eot');
    src: url('../../app-assets/fonts/vazir/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'), url('../../app-assets/fonts/vazir/Vazir-Light-FD.woff2') format('woff2'), url('../../app-assets/fonts/vazir/Vazir-Light-FD.woff') format('woff'), url('../../app-assets/fonts/vazir/Vazir-Light-FD.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body,
.breadcrumb,
.navigation,
textarea,
.header-navbar,
.ui-widget {
    font-family: iransansdn !important;
}

.cke_reset_all,
.cke_reset_all *,
.cke_reset_all a,
.cke_reset_all textarea,
.cke_notification_message,
.gm-style {
    font-family: iransansdn !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    float: right;
}

.ltr {
    direction: ltr;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: 'انتخاب فایل';
}

div.tagsinput span.tag {
    float: right;
    margin-right: 0;
    margin-left: 5px;
    font-family: iransansdn;
}

div.tagsinput div {
    float: right;
}

div.tagsinput span.tag a {
    float: left;
}

div.tagsinput input {
    margin: 0 0 5px 5px;
    font-family: iransansdn;
}

.main-menu.menu-dark .navigation>li.active>a,
.main-menu.menu-dark .navigation>li ul .active {
    background: -webkit-linear-gradient(208deg, #7367F0, rgba(115, 103, 240, 0.7));
    background: linear-gradient(-118deg, #7367F0, rgba(115, 103, 240, 0.7));
    box-shadow: 0 0 0px 0px rgba(46, 46, 46, 0.7) !important;
    color: #FFFFFF;
    font-weight: 400;
    border-radius: 4px;
}

input.pw {
    -webkit-text-security: disc;
}

.img-users-list {
    width: 45px;
}

label {
    margin-bottom: 10px !important;
}

.dropdown .dropdown-menu .dropdown-item {
    min-width: 145px;
}

.breadcrumb.no-border {
    border: none;
}

.post-thumb {
    width: 60px;
}

input {
    direction: rtl;
}

.dd-list .dd-list {
    padding-left: unset !important;
    padding-right: 30px !important;
}

.dropzone {
    min-height: 130px;
    padding: 5px;
}

.dropzone .dz-preview,
.dropzone-previews .dz-preview {
    margin: 10px;
}

.custom-file-label {
    direction: ltr;
}

.dz-size {
    display: none;
}

.dz-details {
    margin-bottom: 5px !important;
}

.dz-remove {
    margin-top: 0 !important;
}

.table-img {
    width: 60px;
}

.slider-thumb img {
    width: 130px;
}

.alert-info {
    color: #10163a !important;
}

.dropzone .dz-message {
    top: 50%;
}

.datepicker-plot-area {
    font-family: iransansdn;
}

.ui-menu .ui-menu-item {
    text-align: right;
    direction: rtl;
}

.map {
    width: 100%;
    height: 400px;
}

.dd-empty {
    border: 1px dashed #7266ef;
    background-color: #f9f9f9;
}

td {
    line-height: 25px;
}

.filter-card {
    padding-bottom: 1.5rem !important;
}

.filter-card .card-title {
    font-size: 13px;
}

.price-delete-btn {
    margin-top: 10px;
}

.excel-export {
    padding: 7px !important;
}

.single-specificition {
    background-color: #f9f9f9;
    margin-bottom: 5px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
}

.custom-padding {
    padding: 5px !important;
}

p.spec-label {
    float: right;
    width: 56px;
    margin: 0;
    padding: 8px;
    background-color: #737373;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    height: 44px;
    padding-top: 12px;
}

textarea.spec-label,
input.spec-label {
    float: right;
    margin-right: 10px;
}

.specification-group {
    border-bottom: 2px dotted #d4d4d4;
    padding-bottom: 15px;
}

.single-specificition .form-group .invalid-feedback {
    float: left;
    width: 80%;
}

.single-specificition .form-control {
    height: 44px;
    width: calc(100% - 67px);
}

.single-specificition .form-group {
    margin-bottom: 0;
}

.form-control {
    border: 1px solid #909090;
}

.specification-group .group-row {
    padding-right: 10px;
}

iframe {
    border: none;
}

.product-prices-tab {
    padding: 0;
    padding-right: 14px;
    padding-left: 14px;
}

.nav-vertical .nav.nav-tabs .nav-item .nav-link.active {
    background: #d8d8d8;
    color: #10163a;
}

.nav-vertical .nav.nav-tabs .nav-item .nav-link {
    background: #f8f8f8;
    margin-bottom: 5px;
}

@media (min-width: 900px) {
    .remove-product-price {
        /* margin-top: 45px !important; */
    }
}

.product-prices-div {
    width: 100%;
    /* overflow: hidden; */
}

.order-product-name span {
    display: block;
    font-size: 12px;
    opacity: .8;
}

.order-product-name .order-product-color {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    margin: 3px 0;
    border: 1px solid;
}

.permissions-row {
    border: 1px dashed #c1c1c1;
    border-right: 3px solid #10163a;
    margin-top: 14px;
    padding: 7px 0;
}

.main-permissions {
    font-weight: 900;
    font-size: 17px;
}

.dz-hidden-input {
    display: none;
}

.dz-details img {
    object-fit: cover;
}

.btn {
    padding: 0.7rem 1.2rem;
}

.price-change-time {
    color: #7367f0;
}

#add-specification-modal .specification-name b {
    position: relative;
    top: 7px;
}

.permissions-row .card .card-header .heading-elements {
    position: inherit;
    font-size: 24px;
}
